tensorflow>=2.14.0
tensorflow_datasets>=4.9.3
tensorflow_hub>=0.14.0
tensorflow_probability>=0.21.0
keras>=2.14.0
tfmiss>=0.22.0
tfswin>=3.4.0
numpy>=1.26.0
opencv-python>=4.8.0.76
albumentations>=1.3.1
Pillow>=10.0.1
scikit-image>=0.21.0
nltk>=3.8.1
